<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>
</head>
<body>
<p>Welcome {{ first_name }}</p>
{% if user_has_no_login_links is false %}
<p>You can log in as a user for the following teams:</p>

<ul>
  {% for team, login_url in login_links.items() if not login_url is none -%}
  <li><a href="{{ login_url }}">{{ team }}</a></li>
  {% endfor %}
</ul>
{% else %}
<p>You are not assigned to any teams yet. Ask the DataLake team to add you to a team!</p>
{% endif %}

<p><a href="{{ logout_url }}">Logout</a></p>

</body>
</html>
